@page "/shipmentdetails"
<h3>Awab Employee Tasks</h3>




<a href="/addnemp" class="btn btn-primary">Add Shipment Details</a>

<div class="card">
    @*    <div class="card-header">
    <h3 class="card-title">DataTable with default features</h3>
    </div> *@
    <!-- /.card-header -->
    <div class="card-body">
        
        <div class="table-responsive">
            <table id="myTable" class="table table-bordered table-striped ">
                <thead>
                    <tr>

                        <th>Id</th>
                        <th>Task Title</th>
                        <th>Description</th>
                        <th>Shipment_From</th>
                      
                        

                        <th>TaskDone/Not</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>

                    @foreach (DataRow row in dt.Rows)
                    {
                        <tr>
                            <td>@row["ShipmentID"]</td>
                            <td>@row["Company_Name"]</td>
                            <td>@row["Shipment_Weight"]</td>

                            
                            <td>@row["Shipment_Date"]</td>
                           
                            <td>
                                <div class="form-check form-switch" @onclick=@(() =>Update_Status(@row["ShipmentID"].ToString(),@row["ShipmentStatus"].ToString()))>
                                    <input type="checkbox" class="form-check-input" checked="@row["ShipmentStatus"]" />
                                </div>
                            </td>
                            <td>  <a href="@($"/addnemp/{row["ShipmentID"]}")"><i class="fa-solid fa-pen-to-square"></i>Update</a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>

                    @*  <tr>
                    <td colspan="10">
                    <Pagination PI="pagingInfo" PageClassesEnabled="true" PageClass="Paging" PageClassSelected="active"></Pagination>
                    </td>
                    </tr> *@
                </tfoot>
            </table>
        </div>
    </div>
    <!-- /.card-body -->
</div>

@code {
    public string? PageName { get; set; } = "Add Medicine Record";
    public string? ButtonName { get; set; } = "Save";
    DataTable dt = new DataTable();
    protected override async Task OnInitializedAsync()
    {

        dt = await DALCRUD.ReadData("SP_GetAllShipments");
        await DisplayGreeting();
    }

    public string? value1 { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticatestate { get; set; }
    private async Task DisplayGreeting()
    {
        var authState = await authenticatestate;
        value1 = $"{authState.User.Identity.Name}";

    }
    
    protected async Task Update_Status(string tgId, string status)
    {
        bool myBool = bool.Parse(status);

        myBool = !myBool;


        SqlParameter[] sp =
           {

                 new SqlParameter("@ShipmentID",int.Parse(tgId)),


            new SqlParameter("@ShipmentStatus",myBool)

    };
        await DALCRUD.CRUD("SP_UpdateStatus", sp);

    }

}
